{% extends 'master.html' %}
    {% block body %}
        {% for post in posts %}
        <div id="posts">
            <ul>
                <li>Written by: {{ post['username'] }}</li>            
                <li>Date: {{ post['date'] }}</li>
                <li>Content: {{ post['content']}}</li>
            </ul>
        </div>
        {% endfor %}

        <br />

        {% if logged_in %}
            <form class="signin" action="{{ url_for("post_to_wall") }}" method="POST">
                <input type="text" class="form-control" placeholder="Write on wall" name="wall_posts">
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit">
            </form>
        {% endif %}
    {% endblock %}